
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 2px;
    align-items: center;
    
    
}
body{
    background-color: #e7e7e7;
    width: 100%;
    height: 100%;
    position: relative;

}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    margin-left: 0;
}
nav{
    display: flex;
    align-items: center;
    margin-left: 0px;
}
.img{
    width: 200%;
    height: 144px;
    margin: 0%;
    padding: 250px;
    border: 100%;
    box-sizing: border-box;
}
.menu{
    width: 100%;
    height: 81;
    padding: 16px;
    border: 40px;
    box-sizing: border-box;
    align-content: center;
    box-sizing: border-box;
    margin-left: 70%;
    font-family: "Teko";
    position: relative;
}
.logotipo {
    background-image: url(assets//.logotipo);
    width: 30%;
    height: 70%;
    align-items: center;
}
.logotipo img {
    width: 45px;
    height: 45px;
    align-items: center;
    margin-left: 0;
}
main {
    width: 100%;
    height: 100%;
    
}
.banner{
    width: 100%;
    height: 100%;
    background-image: 
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
   
}
.principal img {
    width: 100%;
    height: 100%;
    
}
p{
    color: black;
    position: absolute;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50%;
}

a{
    color: black;
    margin-top: 200px;
    margin-left: 50px;
    font-family: Teco;
    position: relative;
}
.camisa{
    width: 25%;
    height: 40%;
    display: flex;
    align-items: center;
}
.camisareal{
    width: 25px;
    height: 40px;
    display: flex;
    align-items: center;
}



